/*! ############ 1. TABLE THEME ############ */
.c-table--theme {
	background-color: white;
}
.c-table--theme > thead > tr > th {
	background-color: #CF2F2F;
}
.c-table--theme > tbody > tr > th {
	color: #FFFFFF;
}
.c-table--theme > tbody > tr > td {
	color: #545454;
}

.c-table-theme__hover .c-table--theme:hover {
	background-color: rgba(207,47,47,0.5);
}
.c-table-theme__hover .c-table--theme:hover > td,
.c-table-theme__hover .c-table--theme:hover > th {
	background-color: rgba(207,47,47,0.5);
}


/*! ############ 2. NAV THEME ############ */
.c-nav--theme {
	font-size: 14px !important;
	font-weight: 500;
}

.c-nav--theme .c-nav--link {
	color: #000000;
	opacity: 1;
}
.c-nav--theme .c-nav--link:hover, .c-nav--theme .c-nav--link:focus {
	color: #CF2F2F;
	opacity: 1;
}
.c-nav--theme .active, .c-nav--theme .active:hover, .c-nav--theme .active:focus {
	color: #CF2F2F;
	opacity: 1;
}

.c-nav--theme .c-nav--link.active {
	position: relative;
}

.c-nav--theme .active-bd.active::before {
	border-bottom: 2px solid #CF2F2F !important;
	border-radius: 20px !important;
}

.c-nav--theme .c-nav--link.active::before {
	content: '';
	position: absolute;
	left: 1.5rem;
	right: 1.5rem;
	bottom: -1px;
}

@media (max-width: 1024px) {
	.c-nav--theme {
		font-size: 13px !important;
	}
}

@media (min-width: 768px) and (max-width: 1280px) {
	.c-nav--theme {
		font-size: 13px !important;
	}
}


/*! ############ 2. BACKGROUND OVERLAY ############ */
.u-bg--overlay__theme {
	background-color: rgba(179, 43, 43, 0.6);
}

.u-bg--contact__theme {
	background-color: #FFF5F5;
}


/*! ############ 3. ACCORDION TOGLE PRODUCT ############ */
.sidebarNav ul ul li a:hover {
	color: #CF2F2F;
}


/*! ############ 4. TABLIST ############ */
.c-tab__title {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #545454;
}

.nav-item-theme .nav-link {
	padding-left: 0;
}

.nav-item-theme .nav-link.active .c-tab__title {
	color: #CF2F2F;
}

#tabel-dimensi {
	width: 29.44px;
	height: 24px;
	background: url("../../images/png/icon-default/tabel-dimensi.png") no-repeat;
	margin-right: 10px;
}
.nav-item-theme .nav-link.active #tabel-dimensi {
	background: url("../../images/png/icon-default/tabel-dimensi-active.png") no-repeat;
}

#detail-produk {
	width: 29.44px;
	height: 24px;
	background: url("../../images/png/icon-default/detail-produk.png") no-repeat;
	margin-right: 10px;
}
.nav-item-theme .nav-link.active #detail-produk {
	background: url("../../images/png/icon-default/detail-produk-active.png") no-repeat;
}

#daftar-pembeli {
	width: 29.44px;
	height: 24px;
	background: url("../../images/png/icon-default/pengiriman.png") no-repeat;
	margin-right: 10px;
}
.nav-item-theme .nav-link.active #daftar-pembeli {
	background: url("../../images/png/icon-default/pengiriman-active.png") no-repeat;
}

#pemesanan {
	width: 29.44px;
	height: 24px;
	background: url("../../images/png/icon-default/pemesanan.png") no-repeat;
	margin-right: 10px;
}
.nav-item-theme .nav-link.active #pemesanan {
	background: url("../../images/png/icon-default/pemesanan-active.png") no-repeat;
}

#pengiriman {
	width: 29.44px;
	height: 24px;
	background: url("../../images/png/icon-default/pengiriman.png") no-repeat;
	margin-right: 10px;
}
.nav-item-theme .nav-link.active #pengiriman {
	background: url("../../images/png/icon-default/pengiriman-active.png") no-repeat;
}

.nav-outline .nav-item-theme .nav-link.active::before {
	border-bottom: 2px solid #CF2F2F;
	left: 0;
	width: 75%;
}

.nav-pills .nav-item--dimention a.nav-link {
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid #919191;
	border-radius: 50px;
	color: #555555;
	font-size: 13px;
	font-weight: 500;
}

.nav-pills .nav-item--dimention a.nav-link.active {
	background-color: #CF2F2F;
	border: 1px solid #CF2F2F;
	border-radius: 50px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 500;
}


/*! ############ 5. TABLE THEME ############ */
.table-theme {
	background-color: white;
}
.table-theme > thead > tr > th,
.table-theme > thead > tr > td {
	background-color: #CF2F2F;
	color: #FFFFFF;
	text-align: center;
	border-width: thin;
}
.table-theme > tbody > tr > th,
.table-theme > tbody > tr > td {
	background-color: rgb(243, 243, 243);
	color: #CF2F2F;
	text-align: center;
	border-width: thin;
}

.table-theme,
.table-theme > th,
.table-theme > td {
  background-color: #CF2F2F;
}

.table-hover .table-theme:hover {
  background-color: rgb(173, 41, 41);
}
.table-hover .table-theme:hover > td,
.table-hover .table-theme:hover > th {
  background-color: rgb(173, 41, 41);
}