/* headpanel initial */
.minisite-app .c-headpanel {
  transition: all 0.2s ease-in-out;
}

.minisite-app .c-nav--owl .c-owl--prev,
.minisite-app .c-nav--owl .c-owl--next {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #d2d7df;
  text-indent: 9999px;
  overflow: hidden;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 2px;
}

.minisite-app .c-nav--owl .c-owl--prev:before,
.minisite-app .c-nav--owl .c-owl--next:before {
  position: absolute;
  font-family: 'FontAwesome';
  font-size: 24px;
  color: #989da8;
  top: -2px;
  left: 15px;
  z-index: 50;
  text-indent: 0;
}

.minisite-app .c-nav--owl .c-owl--prev:hover, .minisite-app .c-nav--owl .c-owl--prev:focus,
.minisite-app .c-nav--owl .c-owl--next:hover,
.minisite-app .c-nav--owl .c-owl--next:focus {
  background-color: #f0f1f4;
}
.minisite-app .c-nav--owl .c-owl--prev:hover::before, .minisite-app .c-nav--owl .c-owl--prev:focus::before,
.minisite-app .c-nav--owl .c-owl--next:hover::before,
.minisite-app .c-nav--owl .c-owl--next:focus::before {
  color: #585c64;
}
.minisite-app .c-nav--owl .c-owl--prev:before {
  content: '\f104 ';
}
.minisite-app .c-nav--owl .c-owl--next:before {
  content: '\f105';
}


/* main content */
.c-main-content {
	margin-top: 65px !important;
}


/* headpanel area */
.c-header--top {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-header--bottom {
	height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-header--bottom .sf-menu > li > a {
	padding: 0.8rem;
}

li.c-nav-dropdown a i {
	font-size: 18px;
}

li.c-nav-dropdown a {
	display: flex;
	align-items: center;
}

.c-header--shadow__btm {
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

.c-welcome-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
}

.c-box--logo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60px;
	padding: 5px 10px;
	border: 1px solid rgba(151, 151, 151, 0.5);
	border-radius: 10px;
}

.c-cmp-status {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #000000;
}

.c-cmp-name {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #000000;
	margin-top: 5px;
	white-space: nowrap;
  overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
}


.c-box--content__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-top: 52px;
}

.c-banner--title {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #000000;
	margin-bottom: 10px;
	line-height: 1.4;
}

.c-banner--subtitle {
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: #6E6E6E;
	line-height: 2;
}

.c-box--content__shadow {
	box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.13);
	-webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.13);
	border-radius: 10px;
}

.c-box--slider__desc {
	background-color: #FFFFFF;
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.c-box--slider__img img {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.swiper-banner-home {
	overflow: hidden;
}

.swiper-pagination.swiper-pagination--home-banner {
	margin-top: -50px;
	padding-left: 20px;
}

.swiper-long-bullet--ver2 .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border: 1px solid #D6D6D6;
	border-radius: 50%;
	opacity: .4;
	display: inline-block;
	font-size: 0;
	line-height: 8px;
	padding: 0;
	background: #D6D6D6;
	transition-property: opacity;
  transition-duration: .2s, 1s;
	transition-timing-function: linear, ease-in-out;
	margin-right: 6px;
}
.swiper-long-bullet--ver2 .swiper-pagination-bullet-active {
	border-radius: 20px;
	opacity: 0.9;
	width: 43px;
}


/* content custom */
h6.c-content--title {
	font-family: 'Montserrat',sans-serif;
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #545454;
	margin-bottom: 0!important;
}

p.c-content--subtitle {
	font-family: 'Montserrat',sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	color: #9E9E9E;
}

p.c-content--description {
	font-family: 'Montserrat',sans-serif;
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.8;
	color: #6E6E6E;
}

p.c-content--description:first-child {
	margin-bottom: 10px !important;
}

a.c-content--link__more {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #FF0000;
}


/* gallery display */
.col-3--gallery:nth-child(1n+5) {
	margin-top: 15px;
}


/* product display */
.c-card--grid .no-gutters {
	margin-left: -10px;
	margin-right: -10px;
}

.c-card--grid .col-2.col-2--product {
	max-width: 14.9%;
}

.c-card--grid .col-3.col-3--product {
	max-width: 22.6%;
}

.c-card--grid .col-2.col-2--product:hover,
.c-card--grid .col-3.col-3--product:hover {
	box-shadow: 1px 2px 15px 0px rgba(181,181,181,0.6);
	-webkit-box-shadow: 1px 2px 15px 0px rgba(181,181,181,0.6);
	-moz-box-shadow: 1px 2px 15px 0px rgba(181,181,181,0.6);
}

.c-card--grid .col-2.col-2--product,
.c-card--grid .col-3.col-3--product {
	flex: 1 0 100%;
	margin: 0%;
	margin: 0 10px;
	padding-right: 0!important;
	padding-left: 0!important;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 100%;
	box-shadow: 2px 2px 20px 0px rgba(0,0,0, .08);
	-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0, .08);
	-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0, .08);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.col-3--product:nth-child(1n+5) {
	margin-top: 20px !important;
}

.col-2--product:nth-child(1n+7) {
	margin-top: 20px !important;
}

.c-card--display {
	position: relative;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 3px;
}

.c-card--display .c-card--display__img {
	display: block;
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-size: cover;
	background-color: #444444 center no-repeat;
}

.c-card--display .c-card--display__img .image_show {
	display: inline-block;
}

.c-card--display .c-card--display__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
}

h1.c-name-product {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #000000;
	line-height: 1.4;
	text-align: left;
	height: 40px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 0!important;
}

.c-price-before {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.3;
	text-align: left;
	color: rgba(0,0,0,.38);
	text-decoration: line-through;
	margin-top: 10px;
}

.c-price-after {
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #FF0000;
}

.c-price-none {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #9E9E9E;
	margin-top: 15px;
}

.c-valid--title,
.c-valid--date {
	font-size: 13px;
	font-style: normal;
}

.c-valid--title {
	font-weight: 400;
	color: #9E9E9E;
	margin-top: 15px;
}

.c-valid--date {
	font-weight: 500;
	color: #8CAE47;
}

.c-badge--condition {
    font-size: 12px;
    line-height: 1.4;
    padding: 3px 6px;
    padding-right: 18px;
    background-color: rgba(207, 47, 47, 0.85);
    position: absolute;
    top: 0;
    font-weight: 500;
    color: #fff;
		border-bottom-right-radius: 18px;
		border-top-left-radius: 5px;
    min-width: 50%;
    text-align: center;
}

.c-badge--discount {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    display: inline-table;
    vertical-align: middle;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color: #A0B22A;
    color: #fff;
    text-align: center;
}


/* klien list */
ul.c-client {
	padding-left: 0!important;
}

ul.c-client li {
	list-style: none !important;
}

li.c-client-list {
	border-bottom: 2px dashed #CBCBCB;
	margin-bottom: 10px;
	margin-right: 15px;
}

li.c-client-list:last-child {
	border: 0;
	margin: 0;
}

p.c-client--title,
p.c-client--subtitle {
	font-size: 14px;
	font-style: normal;
}

p.c-client--title {
	font-weight: 500;
	color: #555555;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	height: 1.6rem;
	width: 75%;
	overflow: hidden;
	word-wrap: break-word;
}

p.c-client--subtitle {
	font-weight: 400;
	color: #9E9E9E;
	margin-bottom: 10px;
}


/* slider swiper contact */
.swiper-button-next.c-btn--next__contact-mkt,
.swiper-button-prev.c-btn--prev__contact-mkt {
	background-image: none !important;
	background-color: #FFFFFF !important;
	color: #FF0000 !important;
	border-radius: 50%;
	text-align: center !important;
	width: 50px !important;
	height: 50px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next.c-btn--next__contact-mkt,
.swiper-button-prev.c-btn--prev__contact-mkt i {
	font-size: 32px;
}

.swiper-button-next.c-btn--next__contact-mkt {
	right: -25px !important;
}

.swiper-button-prev.c-btn--prev__contact-mkt {
	left: -10px !important;
}

.swiper-contact-home {
	overflow: hidden;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	display: none;
	-webkit-transition: opacity 2s ease-in;
	-moz-transition: opacity 2s ease-in;
	-o-transition: opacity 2s ease-in;
	-ms-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;
}


/* footer section */
.c-footer--top {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-top: 1px solid #EED4D4;
	border-bottom: 1px solid #EED4D4;
	padding: 45px 25px;
}

.c-footer--middle {
	display: flex;
	justify-content: center;
	padding-top: 55px;
	padding-bottom: 55px;
}

.c-footer--bottom {
	text-align: center;
	margin-bottom: 50px;
}

h6.c-footer--title {
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	color: #000000;
	margin-bottom: 10px;
}

p.c-footer--subtitle,
a.c-footer--subtitle,
p.c-footer--copyright {
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	color: #919191;
}


/* contact marketing */
h1.c-name-marketing,
.c-level {
	font-weight: 500;
	font-style: normal;
}

h1.c-name-marketing {
	font-size: 14px;
	color: #000000;
	margin-top: 15px;
	margin-bottom: 0!important;
	height: 18px;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.c-level {
	font-size: 13px;
	color: #919191;
	margin-top: 5px;
}


/* pages title */
.c-pages--title {
	margin-bottom: 30px;
	text-align: center;
}
.c-pages--title h1 {
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	margin-bottom: 20px;
	color: #FFFFFF;
}

.c-pages--title-left {
	display: flex;
	align-items: flex-start;
}

/* company profile */
p.c-profile--text {
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	line-height: 2;
	color: #6E6E6E;
}

p.c-profile--text:nth-child(1n+2) {
	margin-top: 15px;
}

/* content card */
.c-card--content__layout {
	padding: 30px 20px !important;
	border-radius: 10px !important;
}

.c-card--content__layout-v2 {
	padding: 0;
	border-radius: 10px !important;
}


/* company address */
.c-profile--address {
	
}

.c-address--header {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #545454;
}

.c-address {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.c-address:nth-child(1n+2) {
	margin-top: 40px;
}

.c-address--img {
	width: 24%;
	margin-right: 1%;
}

.c-address--content {
	width: 74%;
	margin-left: 1%;
}

h6.c-address--building {
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 10px;
}

p.c-address--office {
	font-size: 14px;
	font-weight: 400;
	color: #919191;
	line-height: 1.8;
	margin-bottom: 10px;
}

.c-address--contact {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #000000;
	margin-left: 10px;
}


/* company detail */
.c-profile--detail {
	text-align: left;
}

.c-profile--detail:nth-child(1n+1) {
	border-bottom: 2px dashed rgba(229, 229, 229, .8);
	margin: 15px 0;
}

.c-profile--detail:first-child {
	margin-top: 0;
}

.c-profile--detail:last-child {
	border: 0;
	margin: 0;
}

.c-profile--detail .c-detail--title,
.c-profile--detail .c-detail--subtitle {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.8;
}

.c-profile--detail .c-detail--title {
	color: #9E9E9E;
}

.c-profile--detail p.c-detail--subtitle {
	color: #1C1C1C;
	margin-bottom: 15px;
}

.c-profile--detail a.c-detail--subtitle {
	color: #FF0000;
	margin-bottom: 15px;
}

a.c-detail--subtitle:nth-child(1n+1)::after {
	content: '|';
	color: #1C1C1C;
	margin-left: 5px;
	margin-right: 5px;
}

a.c-detail--subtitle:nth-child(1n+1):last-child::after {
	content: '';
	margin-left: 0;
	margin-right: 0;
}


/* product pages */
.c-product--cat__select {
	background: #f5f5f5;
	padding: 50px 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 100%;
}

.c-page-grid h3,
.c-product--cat__select h3 {
	font-size: 20px;
	font-weight: 600;
	font-style: normal;
	color: #545454;
	margin-bottom: 0!important;
}

.c-page-grid {
	padding: 50px 40px;
}


/* Custom Select */
.c-select-dropdown--icon {
  position: absolute;
  top: 8px;
  right: 1%;
  font-size: 12px;
  height: 22px;
  transition: all 275ms;
}

.c-select-dropdown {
  position: relative;
  float: left;
  min-width: 210px;
  width: 230px;
  min-height: 20px;
  font-family: "Roboto";
  color: #777;
  font-weight: 300;
	background-color: #fff;
	border: 1px solid rgba(181,181,181,0.4);
  border-radius: 3px;
  transition: all 375ms ease-in-out;
}
.c-select-dropdown select {
  position: absolute;
  overflow: hidden;
  height: 0px;
  opacity: 0;
  z-index: -1;
}

.c-select-dropdown--list {
  position: relative;
  float: left;
  width: 100%;
}

.c-select-dropdown--list__select {
  position: absolute;
  left: -1px;
  top: 0px;
  z-index: 2;
  overflow: hidden;
  height: 0px;
  width: 101%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
	border-radius: 0px 0px 3px 3px;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;
}
.c-select-dropdown--list__select li {
  position: relative;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  list-style-type: none;
  padding: 6px 4%;
  margin: 0px;
  transition: all 275ms ease-in-out;
  display: block;
	cursor: pointer;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	color: #6E6E6E;
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}
.c-select-dropdown--list__select li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}
.c-select-dropdown--list__select li:hover {
  background-color: #eeeeee;
}
.c-select-dropdown--list__select .active {
  background-color: #FFFFFF;
}

.c-select-dropdown--item__list {
  padding: 6px 2%;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
}

p.c-select-dropdown--item__list {
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	color: #6E6E6E;
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	height: 27px;
	width: 85%;
	margin: 4px 5px;
	margin-right: 25px;
}


/* Sidebar Accordion Toggle */
.accordian {
	max-width: 600px;
	width: 100%;
	color: #b9b9b9;
	transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	font-weight: 100;
	font-size: 14px;
	margin: 0 auto;
}
.accordian ul > li {
	margin-bottom: 8px;
}
.accordian ul > li:first-child h3 {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.accordian h3 {
	cursor: pointer;
	background-color: #f7f9f9;
	padding: 1.2rem 0.2rem 1.2rem 0.2rem;
	margin: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	display: block;
	font-weight: 100;
	position: relative;
	font-size: 18px;
	transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}
.accordian h3:hover, .accordian h3.closed {
	color: #545454;
	background-color: #fff;
}
.accordian h3:hover .arrow {
	border-top: 2px solid #545454;
	border-right: 2px solid #545454;
}
.accordian ul ul {
	display: none;
	height: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.accordian ul ul li {
	background-color: #fff;
	padding: 1rem 1.8rem;
	color: #545454;
	box-shadow: none;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}
.accordian ul ul li p {
	opacity: 0;
	transition: all 0.5s;
	-webkit-transform: translatey(-20px);
	transform: translatey(-20px);
}
.accordian ul ul.open p {
	opacity: 1;
	-webkit-transform: translatey(0px);
	transform: translatey(0px);
}
.accordian .arrow {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-top: 2px solid #6D6D6D;
	border-right: 2px solid #6D6D6D;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transform-origin: center;
	transform-origin: center;
	float: right;
	margin-right: 0;
	transition: -webkit-transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
	transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
	transition: transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1), -webkit-transform 600ms cubic-bezier(0.175, 0.885, 0.32, 1);
}
.accordian .arrow.closed {
	margin-top: 4px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-top: 2px solid #545454;
	border-right: 2px solid #545454;
}

.sidebarNav {
  	max-width: 300px;
}
.sidebarNav h3{
	border-radius: 0;
	box-shadow: none;
	background: none;
	margin-bottom: 0;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	line-height: 1.6;
	color: #545454;
}
.sidebarNav h3 .main-text {
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	width: 90%;
}
.sidebarNav h3:hover, .sidebarNav h3.closed {
  	background: none;
}
.sidebarNav ul > li {
  	margin: 0;
}
.sidebarNav ul ul li {
	padding: 0;
	background: none;
	border: 0;
}
.sidebarNav ul ul li a {
	font-weight: 500;
	color: #545454;
	padding: 0.8rem 0 0.8rem 0.6rem;
	display: block;
	text-decoration: none;
}

ul.c-cat-prd-list {
	padding-left: 0;
}
ul.c-cat-prd-list li {
	list-style: none;
}

li.has-children ul {
	padding-left: 25px;
	margin-top: 0;
	margin-bottom: 0;
}

li.has-children ul li a {
	font-weight: 400;
	padding: 0.2rem 0 0.2rem 0;
}


/* Product Detail Custom */
.c-card--prd__detail {
	padding: 35px 25px 35px 25px;
}

.c-pages--title ol#prd-detail {
	padding-left: 0;
}

.col-8 .c-produk-detail__special-offer {
	width: 95%;
}

#prd-product-order {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#prd-product-order .is-subtitle {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #000000;
	margin-right: 25px;
}
#prd-product-order .bootstrap-touchspin {
	padding-right: 0;
}
#prd-product-order input.form-control {
	border: 0;
	border-bottom: 1px solid rgba(0,0,0,.54);
	font-size: 16px;
}
#prd-product-order button.btn.bootstrap-touchspin-up {
	padding: 0;
	line-height: 0;
	border: 0;
	border-radius: 0;
}
#prd-product-order button.btn.bootstrap-touchspin-down {
	padding: 0;
	line-height: 0;
	border: 0;
	border-radius: 0;
}
#prd-product-order button.btn-primary {
	border-radius: 50%;
	background-color: #FFFFFF;
	border-color: #6D6D6D;
	color: #6D6D6D;
}
#prd-product-order .input-group-btn:not(:first-child) > .btn {
	border-radius: 50%;
	margin-left: 0;
}
#prd-product-order .input-group-btn:not(:last-child) > .btn {
	border-radius: 50%;
	margin-right: 0;
}

.c-produk-detail {
	margin-left: 10px;
	float: left;
}

#prd-detail--info, #prd-detail--description {
	margin-top: 20px;
}
#prd-detail--btn {
	margin-top: 30px;
}

#prd-price p.is-title {
	font-size: 24px;
	font-weight: 600;
	color: #CF2F2F;
}
#prd-price p.is-title .is-money {
	margin-right: 2px;
}

#prd-category p.is-subtitle {
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.c-produk-detail h6.is-title {
	font-size: 22px;
	font-weight: 700;
	font-style: normal;
	color: #000000;
	margin-bottom: 10px;;
}
.c-produk-detail p.is-title {
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	color: #9E9E9E;
	margin-bottom: 3px;
}
.c-produk-detail p.is-subtitle {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #000000;
}

#prd-detail--description p {
	font-size: 13px;
	font-weight: 400;
	font-style: normal;
	color: #6E6E6E;
	line-height: 2;
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	height: 60px;
	margin-right: 25px;
}

a.prd-detail--desc__read-more {
	font-size: 13px;
	font-weight: 500;
	color: #3A3A3A;
}
a.prd-detail--desc__read-more:hover {
	color: #CF2F2F;
}

.c-card--product-info {
	border: 1px solid #E1E1E1;
	background-color: #F3F3F3;
	border-radius: 10px;
	padding: 0 15px;
	margin-top: 30px;
}

li.nav-item--dimention:nth-child(1n+1) {
	margin-right: 10px;
}
li.nav-item--dimention:last-child {
	margin-right: 0;
}

p.prd-dimension--tab-content {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #545454;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Product Detail Swiper */
.swiper-prd-detail-image,
.swiper-so-detail-image {
	overflow-x: hidden;
}

.swiper-so-detail-image.swiper-container-horizontal > .swiper-pagination-bullets {
	position: absolute !important;
	top: 90% !important;
}

.swiper-prd-detail-image.swiper-container-horizontal > .swiper-pagination-bullets {
	position: absolute !important;
	top: 90% !important;
}

.swiper-long-bullet .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border: 1px solid #ddd;
	border-radius: 50%;
	opacity: .4;
	display: inline-block;
	font-size: 0;
	line-height: 8px;
	padding: 0;
	background: #FFFFFF;
	transition-property: opacity;
  transition-duration: .2s, 1s;
	transition-timing-function: linear, ease-in-out;
}
.swiper-long-bullet .swiper-pagination-bullet-active {
	border-radius: 20px;
	opacity: 0.9;
	width: 43px;
}

/* Product Info in Product Detail */
.c-product-info-item {
	width: 25%;
	padding: 15px 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-product-info-item img.c-product-info-icon {
	display: inline-block;
	vertical-align: middle;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.c-product-info-item .c-product-info-text {
	display: inline-block;
	vertical-align: middle;
}

.c-product-info-text .is-title {
	font-size: 12px;
	color: rgba(0,0,0,.7);
	line-height: 1;
}
.c-product-info-text .is-subtitle {
	font-size: 13px;
	font-weight: 600;
	color: rgba(0,0,0,.7);
	line-height: 12px;
	margin-top: 5px;
}
.c-product-info-text .is-subtitle .prd-count {
	margin-right: 3px;
}

#product-description .row .col-8 {
	padding-right: 30px;
}

p.c-product-detail-description {
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #6E6E6E;
	line-height: 2;
}
p.c-product-detail-description:nth-child(1n+2) {
	margin-top: 15px;
}

.c-card--product-spesification {
	padding: 30px 25px;
	border-radius: 10px;
}
.c-card--product-spesification .is-title {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #545454;
	margin-bottom: 10px;
}
.c-card--product-spesification .is-subtitle {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #6E6E6E;
	line-height: 1.8;
	margin-bottom: 20px;
}


/*! ########## Breadcrumb With Arrow ########## */
ol.c-breadcrumb-arrows {
	padding: 0;
	margin-bottom: 30px;
}
.c-breadcrumb-arrows { white-space: nowrap; }
.c-breadcrumb-arrows li {
    display: inline-block;
    line-height: 12px;
    padding: 0 20px;
    position: relative;
}

.c-breadcrumb-arrows li::before,
.c-breadcrumb-arrows li::after {
    border-right: 4px solid #FFFFFF;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: skewX(45deg);
}
.c-breadcrumb-arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.c-breadcrumb-arrows li:last-of-type::before,
.c-breadcrumb-arrows li:last-of-type::after {
    display: none;
}

.c-breadcrumb-arrows li a {
	 font-family: inherit;
	 font-size: 14px;
	 font-weight: 500;
	 font-style: normal;
	 color: #000000;
   text-decoration: none;
}

.c-breadcrumb-arrows li:nth-child(1n+1) a {
	color: rgba(255, 255, 255, 0.6);
	cursor: none;
}
.c-breadcrumb-arrows li:last-child a {
	color: rgba(255, 255, 255, 1);
	cursor: pointer;
}


/* other product */
.c-product-other {
	margin-top: 80px;
}

.c-product-other__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.c-product-other__head h6 {
	font-size: 18px;
	font-weight: 600;
	font-style: normal;
	color: #545454;
}

.c-product-other__body {
	width: 100%;
	position: relative;
	margin-top: 20px;
}

.swiper-other-product {
	overflow-x: hidden;
}

.c-product-other__body .swiper-slide {
	width: 15.46666666666667%;
	padding: 0;
	margin-right: 1.466%;
	margin-bottom: 10px;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 100%;
	box-shadow: 2px 2px 20px 0px rgba(0,0,0, .08);
	-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0, .08);
	-moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0, .08);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.c-product-other__body .swiper-slide:hover {
	box-shadow: 1px 2px 15px 0px rgba(181,181,181,0.6);
	-webkit-box-shadow: 1px 2px 15px 0px rgba(181,181,181,0.6);
	-moz-box-shadow: 1px 2px 15px 0px rgba(181,181,181,0.6);
}

.c-product-other__navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.swiper-button-next.c-btn--next__other-product,
.swiper-button-prev.c-btn--prev__other-product {
	position: relative;
	background-image: none !important;
	background-color: #FFFFFF !important;
	color: #FF0000 !important;
	border-radius: 50%;
	border: 1px solid rgba(168, 168, 168, 0.35);
	text-align: center !important;
	width: 30px !important;
	height: 30px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next.c-btn--next__other-product,
.swiper-button-prev.c-btn--prev__other-product i {
	font-size: 16px;
}

.swiper-button-next.c-btn--next__other-product {
	right: 0 !important;
}

.swiper-button-prev.c-btn--prev__other-product {
	left: 0 !important;
}


/* Column 3 Custom Grid */
.col-3.col-3--grid {
	padding-left: 0;
	padding-right: 15px;
	display: inline-block;
	float: none;
	white-space: normal;
	vertical-align: top;
}

.col-3.col-3--grid:nth-child(1n+5) {
	margin-top: 15px;
}

.c-card.c-card__text-in-image {
	border: 0;
	border-radius: 10px;
	background-color: transparent !important;
}

.c-card__text-in-image img {
	border-radius: 10px;
}

.c-card__text-in-image .c-card__image-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 25px;
	background: linear-gradient(rgba(14, 14, 14, 0) 50%, rgba(14, 14, 14, 0.8) 100%);
	display: flex;
	align-items: flex-end;
	border-radius: 10px;
}

.c-card__text-in-image .c-card__image-overlay p {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #FFFFFF;
	line-height: 1.4;
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	-webkit-line-clamp: 2;
	max-height: 40px;
	height: auto;
}


/* Modal Show Image Custom */
.c-modal-show-image .modal-content {
	border: 0;
	border-radius: 10px;
}

.c-modal-show-image img {
	border-radius: 10px;
}

.c-modal-show-image .c-btn-close__rounded {
	padding: 0;
	text-align: center;
	font-size: 36px;
	color: #FFFFFF;
	opacity: .75;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-color: rgba(207, 47, 47, .6);
	border-radius: 50%;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
	margin-top: 15px;
	margin-right: -20px;
	top: -30px;
	right: 0;
	position: absolute;
	text-decoration: none;
	font-style: normal;
	user-select: none;
}
.c-modal-show-image .c-btn-close__rounded:hover {
	background-color: rgba(207, 47, 47, 1);
}

button.c-btn-close__rounded {
	overflow: visible;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	display: block;
	outline: none;
	z-index: 1046;
	touch-action: manipulation;
}


/* Contact Page */
.swiper-button-next.c-btn--next__contact-page,
.swiper-button-prev.c-btn--prev__contact-page {
	position: relative;
	background-image: none !important;
	background-color: #FFFFFF !important;
	color: #FF0000 !important;
	border: 1px solid #D8D8D8;
	border-radius: 50%;
	text-align: center !important;
	width: 35px !important;
	height: 35px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next.c-btn--next__contact-page,
.swiper-button-prev.c-btn--prev__contact-page i {
	font-size: 18px;
}

.swiper-button-prev.c-btn--prev__contact-page {
	margin-right: 20px;
}
.swiper-button-next.c-btn--next__contact-page {
	right: 0;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
	-webkit-transition: opacity 2s ease-in;
	-moz-transition: opacity 2s ease-in;
	-o-transition: opacity 2s ease-in;
	-ms-transition: opacity 2s ease-in;
	transition: opacity 2s ease-in;
}


.c-scroller-show-four {
	width: 100%;
	overflow: hidden;
}

.c-card.c-card-contact-column {
	width: 100%;
	height: auto;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	background-color: rgb(255, 255, 255);
	vertical-align: top;
	flex-flow: column;
	border: 1px solid #D8D8D8;
	border-radius: 10px;
	box-shadow: 0px 2px 15px 0px rgba(181,181,181,0.35);
	-webkit-box-shadow: 0px 2px 15px 0px rgba(181,181,181,0.35);
	-moz-box-shadow: 0px 2px 15px 0px rgba(181,181,181,0.35);
}

.c-card-contact-column .c-card__image {
	vertical-align: middle;
	text-align: center;
	position: relative;
	display: block;
	margin: auto;
}

.c-card-contact-column .c-card__image img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-width: 100%;
	height: auto;
	object-position: center center;
	display: inline;
	opacity: 1;
}

.c-card-contact-column .c-card__text {
	padding: 20px 10px;
}

.c-card-contact-column .c-card__text .mkt-name {
	font-size: 16px;
	font-weight: 600;
	font-style: normal;
	color: #000000;
}

.c-card-contact-column .c-card__text .mkt-position {
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	color: #919191;
}

.c-card-contact-column .c-card__text .c-card__text-contact {
	margin-top: 20px;
}

.c-card__text .c-card__text-contact .mkt-contact {
	padding: 10px 20px;
	background-color: #F5EFEF;
	border-radius: 30px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.c-card__text .c-card__text-contact .mkt-contact:last-child {
	margin-bottom: 0;
}

.c-card__text .c-card__text-contact .mkt-contact i {
	font-size: 18px;
	color: #CF2F2F;
}
.c-card__text .c-card__text-contact .mkt-contact a {
	margin-left: 12px;
	font-size: 13px;
	font-weight: 500;
	font-style: normal;
	color: #CF2F2F;
	display: -webkit-box !important;
	white-space: normal;
	word-break: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	width: 80%;
}

.c-card--content__layout-v2 .embed-responsive {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


/* daftar pembeli */
.c-card .c-card--buyer-list {
	border-radius: 10px;
	padding: 20px;
	text-align: center;
}
.c-card .c-card--buyer-list h6 {
	font-size: 16px;
	font-weight: 600;
	color: #3A3A3A;
	margin-top: 15px;
}

#list-buyer .col-3:nth-child(1n+5) {
	margin-top: 15px;
}


/* legalitas list */
ul.legalitas-list {
	padding: 0;
}
ul.legalitas-list li {
	list-style: none;
	border-bottom: 1px solid #999999;
	width: 65%;
}
ul.legalitas-list li:last-child {
	border: 0;
}
ul.legalitas-list li a {
	padding: 10px 0;
}
ul.legalitas-list .is-number,
ul.legalitas-list .is-title,
ul.legalitas-list .is-subtitle {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.6;
	color: #3A3A3A;
}
ul.legalitas-list .is-number {
	margin-right: 25px;
}
ul.legalitas-list .is-title {
	font-weight: 600;
}
ul.legalitas-list .is-subtitle {
	font-weight: 400;
}


/* legalitas detail */
ul.modal-detail {
	padding: 0;
}
ul.modal-detail li {
	list-style: none;
	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	color: #3A3A3A;
	border-bottom: 1px solid #6E6E6E;
}
ul.modal-detail li:last-child {
	border: 0;
}
li .modal-detail-content {
	padding: 10px 0;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}