/*!
*
* TABLE OF CONTENTS
*
* 1. GOOGLE FONTS IMPORT
* 2. BOOTSTRAP OVERRIDES
*      2.1   CSS Reboot
*
* 3. CUSTOM UTILITIES
*      3.1   Font Size
*      3.2   Font Weight
*      3.3   Line Height
*      3.4   Text Transform
*      3.5   Text Align
*      3.6   Text Color
*      3.7   Background
*      3.8	 Border
*      3.9   Border Style
*      3.10  Border None
*      3.11  Border Color
*      3.12  Border Size
*      3.13  Width (px)
*      3.14  Width (%)
*      3.15  Height (px)
*      3.16  Height (%)
*      3.17  Margin All Around
*      3.18  Margin Top
*      3.19  Margin Bottom
*      3.20  Margin Left
*      3.21  Margin Right
*      3.22  Padding All Around
*      3.23  Padding Top
*      3.24  Padding Bottom
*      3.25  Padding Left
*      3.26  Padding Right
*      3.27  Position
*      3.28  List Style
*	   3.29  Image Style
*
* 4. CUSTOM COMPONENTS
* 	   4.1   Card
* 	   4.2	 Button
* 	   4.3   Navigation
*      4.4   Table
*      4.5   Figure
* 	   4.6   Scrollable
*	   4.7   Breadcrumbs
*
* 5. CUSTOM OBJECT
* 	   5.1   Display
* 	   5.2   Flex Content
* 	   5.3   Flex Align
* 	   
*/



/*! ########## 1. GOOGLE FONTS IMPORT  ########## */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');


/*! ########## 2. BOOTSTRAP OVERIDES ########## */
/*!
 * Bootstrap Reboot v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */


/*! ########## 2.1 CSS Reboot ########## */
@media print {
	*,
	*::before,
	*::after {
		text-shadow: none !important;
		box-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: none;
	}

	abbr[title]::after {
		content: " (" attr(title) ")";
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}

	.c-badge {
		border: 1px solid #707070;
	}
}


*,
*::before,
*::after {
  	box-sizing: inherit;
}

@-ms-viewport {
  	width: device-width;
}


html {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #6E6E6E;
	line-height: 1.2;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5;
	color: #6E6E6E;
	text-align: left;
	background-color: #fff;
	margin: 0;
	min-width: 1024px;
	text-rendering: geometricPrecision;
}

[tabindex="-1"]:focus {
	outline: 0 !important;
}

hr {
	display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    margin: 1.786rem 0;
    border: 0;
    border-top: 1px solid #CBCBCB;
    overflow: visible;
    clear: both;
}

/* hr custom */
hr.u-line--dahsed__gray {
	border-top: 2px dashed #CBCBCB !important;
}

hr.u-line--solid__red {
	border-top: 1px dashed #EED4D4 !important;
}


h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #6E6E6E;
	margin-top: 0;
	margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
	cursor: help;
	border-bottom: 0;
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
}

address {
	margin-bottom: 1rem;
	font-style: normal;
	line-height: inherit;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: .5rem;
	margin-left: 0;
}

blockquote {
	margin: 0 0 1rem;
}

b,
strong {
	font-weight: 700;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

a {
	color: #CF2F2F;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: rgba(207,47,47,0.6);
	text-decoration: none;
}

a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
	color: inherit;
	text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
	outline: 0;
}

pre,
code,
kbd,
samp {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1em;
}

pre {
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
}

figure {
	margin: 0 0 1rem;
}

img {
	vertical-align: middle;
	border-style: none;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

caption {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	color: #6c757d;
	text-align: left;
	caption-side: bottom;
}

th {
	text-align: inherit;
}

label {
	display: inline-block;
	margin-bottom: 0.5rem;
}

button {
	border-radius: 0;
}

button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

select {
	word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	padding: 0;
	border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
	-webkit-appearance: listbox;
}

textarea {
	overflow: auto;
	resize: vertical;
}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	max-width: 100%;
	padding: 0;
	margin-bottom: .5rem;
	font-size: 1.5rem;
	line-height: inherit;
	color: inherit;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	outline-offset: -2px;
	-webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}

output {
	display: inline-block;
}

summary {
	display: list-item;
	cursor: pointer;
}

template {
	display: none;
}

[hidden] {
	display: none !important;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.3571rem;
	font-family: 'Montserrat',sans-serif;
	font-weight: 600;
	line-height: 1.2;
	color: #2A2A2A;
}

h1, .h1 {
	font-size: 2.5rem;
}

h2, .h2 {
	font-size: 1.571rem;
}

h3, .h3 {
	font-size: 1.286rem;
}

h4, .h4 {
	font-size: 1.143rem;
}

h5, .h5 {
	font-size: 1rem;
}

h6, .h6 {
	font-size: 0.9286rem;
}


/* z-index */
.z-index-1 {
  	z-index: 1;
}

.z-index-50 {
  	z-index: 50;
}

.z-index-100 {
  	z-index: 100;
}

.z-index-150 {
  	z-index: 150;
}

.z-index-200 {
  	z-index: 200;
}


/* row adjust */
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -10px;
	margin-left: -10px;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}


/* column grid */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.col-auto {
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}

.col-1 {
	flex: 0 0 8.3333333333%;
	max-width: 8.3333333333%;
}

.col-2 {
	flex: 0 0 16.6666666667%;
	max-width: 16.6666666667%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
}

.col-5 {
	flex: 0 0 41.6666666667%;
	max-width: 41.6666666667%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-7 {
	flex: 0 0 58.3333333333%;
	max-width: 58.3333333333%;
}

.col-8 {
	flex: 0 0 66.6666666667%;
	max-width: 66.6666666667%;
}

.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.col-10 {
	flex: 0 0 83.3333333333%;
	max-width: 83.3333333333%;
}

.col-11 {
	flex: 0 0 91.6666666667%;
	max-width: 91.6666666667%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}


/*! ########## 3. CUSTOM UTILITIES ########## */

/*! ########## 3.1 Font Size ########## */
.u-font--12 {
    font-size: 0.8571rem !important;
    font-weight: 400;
}

.u-font--13 {
    font-size: 0.9286rem !important;
    font-weight: 400;
}

.u-font--14 {
    font-size: 1rem !important;
    font-weight: 400;
}

.u-font--15 {
    font-size: 1.071rem !important;
    font-weight: 400;
}

.u-font--16 {
    font-size: 1.143rem !important;
    font-weight: 400;
}

.u-font--18 {
    font-size: 1.286rem !important;
    font-weight: 400;
}

.u-font--20 {
    font-size: 1.429rem !important;
    font-weight: 400;
}

.u-font--22 {
    font-size: 1.571rem !important;
    font-weight: 400;
}

.u-font--24 {
    font-size: 1.714rem !important;
    font-weight: 400;
}

.u-font--26 {
    font-size: 1.857rem !important;
    font-weight: 400;
}

.u-font--28 {
    font-size: 2rem !important;
    font-weight: 400;
}

.u-font--30 {
    font-size: 2.143rem !important;
    font-weight: 400;
}

.u-font--32 {
    font-size: 2.286rem !important;
    font-weight: 400;
}

.u-font--34 {
    font-size: 2.429rem !important;
    font-weight: 400;
}

.u-font--36 {
    font-size: 2.571rem !important;
    font-weight: 400;
}

.u-font--38 {
    font-size: 2.714rem !important;
    font-weight: 400;
}

.u-font--40 {
    font-size: 2.857rem !important;
    font-weight: 400;
}

/*! ########## 3.2 Font Weight ########## */
.u-font--400 {
    font-weight: 400 !important;
    font-style: normal !important;
}

.u-font--500 {
    font-weight: 500 !important;
    font-style: normal !important;
}

.u-font--600 {
    font-weight: 600 !important;
    font-style: normal !important;
}

/*! ########## 3.3 Line Height ########## */
.u-line-height--1 {
    line-height: 1.2 !important;
}

.u-line-height--2 {
    line-height: 1.4 !important;
}

.u-line-height--3 {
    line-height: 1.6 !important;
}

.u-line-height--4 {
    line-height: 1.8 !important;
}

.u-line-height--5 {
    line-height: 2 !important;
}

.u-line-height--6 {
    line-height: 2.2 !important;
}

.u-line-height--7 {
    line-height: 2.4 !important;
}

/*! ########## 3.4 Text Transform ########## */
.u-txt--capitalize {
    text-transform: capitalize !important;
}

.u-txt--uppercase {
    text-transform: uppercase !important;
}

/*! ########## 3.5 Text Align ########## */
.u-txt--left {
    text-align: left !important;
}

.u-txt--center {
    text-align: center !important;
}

.u-txt--right {
    text-align: right !important;
}

/*! ########## 3.6 Text Color ########## */
.u-fg--light-red,
.u-fg--light-red:focus,
.u-fg--light-red:hover {
    color: #B32B2B !important;
}

.u-fg--dark-red,
.u-fg--dark-red:focus,
.u-fg--dark-red:hover {
    color: #CF2F2F !important;
}

.u-fg--light-gray,
.u-fg--light-gray:focus,
.u-fg--light-gray:hover {
    color: #6E6E6E !important;
}

.u-fg--dark-gray,
.u-fg--dark-gray:focus,
.u-fg--dark-gray:hover {
    color: #545454 !important;
}

.u-fg--black,
.u-fg--black:focus,
.u-fg--black:hover {
    color: #000000 !important;
}

.u-fg--light-green,
.u-fg--light-green:focus,
.u-fg--light-green:hover {
    color: #A0B22A !important;
}

.u-fg--dark-green,
.u-fg--dark-green:focus,
.u-fg--dark-green:hover {
    color: #8CAE47 !important;
}

/*! ########## 3.7 Background ########## */
.u-bg--lightest-red {
    background-color: #FFF5F5 !important;
}

.u-bg--light-red {
    background-color: #B32B2B !important;
}

.u-bg--dark-red {
    background-color: #CF2F2F !important;
}

.u-bg--lightest-gray {
    background-color: #F5F5F5 !important;
}

.u-bg--light-gray {
    background-color: #6E6E6E !important;
}

.u-bg--dark-gray {
    background-color: #545454 !important;
}

.u-bg--gray {
	background-color: #F2F2F2 !important;
}

.u-bg--black {
    background-color: #000000 !important;
}

.u-bg--light-green {
    background-color: #A0B22A !important;
}

.u-bg--dark-green {
    background-color: #8CAE47 !important;
}

.u-bg--white {
    background-color: #FFFFFF !important;
}

/*! ########## 3.8 Border ########## */
.u-bd--solid {
	border: 1px solid rgba(203, 203, 203, 0.6);
}

.u-bd--solid-r {
	border-right: 1px solid rgba(203, 203, 203, 0.6);
}

.u-bd--solid-l {
	border-left: 1px solid rgba(203, 203, 203, 0.6);
}

.u-bd--solid-t {
	border-top: 1px solid rgba(203, 203, 203, 0.6);
}

.u-bd--solid-b {
	border-bottom: 1px solid rgba(203, 203, 203, 0.6);
}

.u-bd--solid-v {
	border-top: 1px solid rgba(203, 203, 203, 0.6);
	border-bottom: 1px solid rgba(203, 203, 203, 0.6);
}

.u-bd--solid-h {
	border-left: 1px solid rgba(203, 203, 203, 0.6);
	border-right: 1px solid rgba(203, 203, 203, 0.6);
}

/*! ########## 3.9 Border Style ########## */
.u-bd--solid {
	border-style: solid !important;
}

.u-bd--none__style {
	border-style: none !important;
}

.u-bd--dashed {
	border-style: dashed !important;
}

.u-bd--dotted {
	border-style: dotted !important;
}

.u-bd--rad-5 {
	border-radius: 5px !important;
}

.u-bd--rad-10 {
	border-radius: 10px !important;
}

/*! ########## 3.10 Border None ########## */
.u-bd--none {
	border: 0!important;
}

/*! ########## 3.11 Border Color ########## */
.u-bd--bg__none {
	border-color: rgba(255, 255, 255, 0) !important;
}

.u-bd--gray {
	border-color: #DCDCDC !important;
}

/*! ########## 3.12 Border Size ########## */
.u-bd--thin {
	border-width: thin !important;
}

.u-bd--medium {
	border-width: medium !important;
}

/*! ########## 3.13 Width (px) ########## */
.u-wd--5 {
	width: 5px !important;
}

/*! ########## 3.14 Width (%) ########## */
.u-wd--5p {
	width: 5% !important;
}

.u-wd--15p {
	width: 15% !important;
}

.u-wd--20p {
	width: 20% !important;
}

.u-wd--25p {
	width: 25% !important;
}

.u-wd--30p {
	width: 30% !important;
}

.u-wd--40p {
	width: 40% !important;
}

.u-wd--100 {
    width: 100px !important;
}

.u-wd--130 {
    width: 130px !important;
}


/*! ########## 3.15 Height (px) ########## */
.u-ht--5 {
	height: 5px !important;
}

.u-ht--45 {
	height: 45px !important;
}

/*! ########## 3.16 Height (%) ########## */
.u-ht--5p {
	height: 5% !important;
}

/*! ########## 3.17 Margin All Around ########## */
.u-mrg-all--0 {
    margin: 0 !important;
}

.u-mrg-all--5 {
    margin: 0.3571rem !important;
}

.u-mrg-all--10 {
    margin: 0.7143rem !important;
}

.u-mrg-all--15 {
    margin: 1.071rem !important;
}

.u-mrg-all--20 {
    margin: 1.429rem !important;
}

.u-mrg-all--25 {
    margin: 1.786rem !important;
}

.u-mrg-all--30 {
    margin: 2.143rem !important;
}

.u-mrg-all--35 {
    margin: 2.5rem !important;
}

.u-mrg-all--40 {
    margin: 2.857rem !important;
}

.u-mrg-all--45 {
    margin: 3.214rem !important;
}

.u-mrg-all--50 {
    margin: 3.571rem !important;
}

/*! ########## 3.18 Margin Top ########## */
.u-mrg-t--0 {
    margin-top: 0 !important;
}

.u-mrg-t--3 {
    margin-top: 0.2143rem !important;
}

.u-mrg-t--5 {
    margin-top: 0.3571rem !important;
}

.u-mrg-t--10 {
    margin-top: 0.7143rem !important;
}

.u-mrg-t--15 {
    margin-top: 1.071rem !important;
}

.u-mrg-t--20 {
    margin-top: 1.429rem !important;
}

.u-mrg-t--25 {
    margin-top: 1.786rem !important;
}

.u-mrg-t--30 {
    margin-top: 2.143rem !important;
}

.u-mrg-t--35 {
    margin-top: 2.5rem !important;
}

.u-mrg-t--40 {
    margin-top: 2.857rem !important;
}

.u-mrg-t--45 {
    margin-top: 3.214rem !important;
}

.u-mrg-t--50 {
    margin-top: 3.571rem !important;
}

.u-mrg-t--55 {
	margin-top: 3.929rem !important;
}

.u-mrg-t--65 {
	margin-top: 4.643rem !important;
}

.u-mrg-t--125 {
    margin-top: 8.929rem !important;
}

.u-mrg-t--140 {
    margin-top: 10rem !important;
}

.u-mrg-t--155 {
    margin-top: 11.07rem !important;
}

.u-mrg-t--45__neg {
    margin-top: -3.214rem !important;
}

/*! ########## 3.19 Margin Bottom ########## */
.u-mrg-b--0 {
    margin-bottom: 0 !important;
}

.u-mrg-b--5 {
    margin-bottom: 0.3571rem !important;
}

.u-mrg-b--10 {
    margin-bottom: 0.7143rem !important;
}

.u-mrg-b--15 {
    margin-bottom: 1.071rem !important;
}

.u-mrg-b--20 {
    margin-bottom: 1.429rem !important;
}

.u-mrg-b--25 {
    margin-bottom: 1.786rem !important;
}

.u-mrg-b--30 {
    margin-bottom: 2.143rem !important;
}

.u-mrg-b--35 {
    margin-bottom: 2.5rem !important;
}

.u-mrg-b--40 {
    margin-bottom: 2.857rem !important;
}

.u-mrg-b--45 {
    margin-bottom: 3.214rem !important;
}

.u-mrg-b--50 {
    margin-bottom: 3.571rem !important;
}

.u-mrg-b--200 {
    margin-bottom: 14.29rem !important;
}

/*! ########## 3.20 Margin Left ########## */
.u-mrg-l--0 {
    margin-left: 0 !important;
}

.u-mrg-l--5 {
    margin-left: 0.3571rem !important;
}

.u-mrg-l--10 {
    margin-left: 0.7143rem !important;
}

.u-mrg-l--15 {
    margin-left: 1.071rem !important;
}

.u-mrg-l--20 {
    margin-left: 1.429rem !important;
}

.u-mrg-l--25 {
    margin-left: 1.786rem !important;
}

.u-mrg-l--30 {
    margin-left: 2.143rem !important;
}

.u-mrg-l--35 {
    margin-left: 2.5rem !important;
}

.u-mrg-l--40 {
    margin-left: 2.857rem !important;
}

.u-mrg-l--45 {
    margin-left: 3.214rem !important;
}

.u-mrg-l--50 {
    margin-left: 3.571rem !important;
}

/*! ########## 3.21 Margin Right ########## */
.u-mrg-r--0 {
    margin-right: 0 !important;
}

.u-mrg-r--5 {
    margin-right: 0.3571rem !important;
}

.u-mrg-r--10 {
    margin-right: 0.7143rem !important;
}

.u-mrg-r--15 {
    margin-right: 1.071rem !important;
}

.u-mrg-r--20 {
    margin-right: 1.429rem !important;
}

.u-mrg-r--25 {
    margin-right: 1.786rem !important;
}

.u-mrg-r--30 {
    margin-right: 2.143rem !important;
}

.u-mrg-r--35 {
    margin-right: 2.5rem !important;
}

.u-mrg-r--40 {
    margin-right: 2.857rem !important;
}

.u-mrg-r--45 {
    margin-right: 3.214rem !important;
}

.u-mrg-r--50 {
    margin-right: 3.571rem !important;
}

.u-mrg-r--65 {
    margin-right: 4.643rem !important;
}

/*! ########## Margin Vertical ########## */
.u-mrg-v--0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.u-mrg-v--5 {
    margin-top: 0.3571rem !important;
    margin-bottom: 0.3571rem !important;
}

.u-mrg-v--10 {
    margin-top: 0.7143rem !important;
    margin-bottom: 0.7143rem !important;
}

.u-mrg-v--15 {
    margin-top: 1.071rem !important;
    margin-bottom: 1.071rem !important;
}

.u-mrg-v--20 {
    margin-top: 1.429rem !important;
    margin-bottom: 1.429rem !important;
}

.u-mrg-v--25 {
    margin-top: 1.786rem !important;
    margin-bottom: 1.786rem !important;
}

.u-mrg-v--30 {
    margin-top: 2.143rem !important;
    margin-bottom: 2.143rem !important;
}

.u-mrg-v--35 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}

.u-mrg-v--40 {
    margin-top: 2.857rem !important;
    margin-bottom: 2.857rem !important;
}

.u-mrg-v--45 {
    margin-top: 3.214rem !important;
    margin-bottom: 3.214rem !important;
}

.u-mrg-v--50 {
    margin-top: 3.571rem !important;
    margin-bottom: 3.571rem !important;
}

/*! ########## Margin Horizontal ########## */
.u-mrg-h--0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.u-mrg-h--5 {
    margin-left: 0.3571rem !important;
    margin-right: 0.3571rem !important;
}

.u-mrg-h--10 {
    margin-left: 0.7143rem !important;
    margin-right: 0.7143rem !important;
}

.u-mrg-h--15 {
    margin-left: 1.071rem !important;
    margin-right: 1.071rem !important;
}

.u-mrg-h--20 {
    margin-left: 1.429rem !important;
    margin-right: 1.429rem !important;
}

.u-mrg-h--25 {
    margin-left: 1.786rem !important;
    margin-right: 1.786rem !important;
}

.u-mrg-h--30 {
    margin-left: 2.143rem !important;
    margin-right: 2.143rem !important;
}

.u-mrg-h--35 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
}

.u-mrg-h--40 {
    margin-left: 2.857rem !important;
    margin-right: 2.857rem !important;
}

.u-mrg-h--45 {
    margin-left: 3.214rem !important;
    margin-right: 3.214rem !important;
}

.u-mrg-h--50 {
    margin-left: 3.571rem !important;
    margin-right: 3.571rem !important;
}

/*! ########## 3.22 Padding All Around ########## */
.u-pad-all--0 {
    padding: 0 !important;
}

.u-pad-all--5 {
    padding: 0.3571rem !important;
}

.u-pad-all--10 {
    padding: 0.7143rem !important;
}

.u-pad-all--15 {
    padding: 1.071rem !important;
}

.u-pad-all--20 {
    padding: 1.429rem !important;
}

.u-pad-all--25 {
    padding: 1.786rem !important;
}

.u-pad-all--30 {
    padding: 2.143rem !important;
}

.u-pad-all--35 {
    padding: 2.5rem !important;
}

.u-pad-all--40 {
    padding: 2.857rem !important;
}

.u-pad-all--45 {
    padding: 3.214rem !important;
}

.u-pad-all--50 {
    padding: 3.571rem !important;
}

/*! ########## 3.23 Padding Top ########## */
.u-pad-t--0 {
    padding-top: 0 !important;
}

.u-pad-t--5 {
    padding-top: 0.3571rem !important;
}

.u-pad-t--10 {
    padding-top: 0.7143rem !important;
}

.u-pad-t--15 {
    padding-top: 1.071rem !important;
}

.u-pad-t--20 {
    padding-top: 1.429rem !important;
}

.u-pad-t--25 {
    padding-top: 1.786rem !important;
}

.u-pad-t--30 {
    padding-top: 2.143rem !important;
}

.u-pad-t--35 {
    padding-top: 2.5rem !important;
}

.u-pad-t--40 {
    padding-top: 2.857rem !important;
}

.u-pad-t--45 {
    padding-top: 3.214rem !important;
}

.u-pad-t--50 {
    padding-top: 3.571rem !important;
}

.u-pad-t--55 {
	padding-top: 3.929rem !important;
}

.u-pad-t--60 {
    padding-top: 4.286rem !important;
}

.u-pad-t--65 {
	padding-top: 4.643rem !important;
}

/*! ########## 3.24 Padding Bottom ########## */
.u-pad-b--0 {
    padding-bottom: 0 !important;
}

.u-pad-b--5 {
    padding-bottom: 0.3571rem !important;
}

.u-pad-b--10 {
    padding-bottom: 0.7143rem !important;
}

.u-pad-b--15 {
    padding-bottom: 1.071rem !important;
}

.u-pad-b--20 {
    padding-bottom: 1.429rem !important;
}

.u-pad-b--25 {
    padding-bottom: 1.786rem !important;
}

.u-pad-b--30 {
    padding-bottom: 2.143rem !important;
}

.u-pad-b--35 {
    padding-bottom: 2.5rem !important;
}

.u-pad-b--40 {
    padding-bottom: 2.857rem !important;
}

.u-pad-b--45 {
    padding-bottom: 3.214rem !important;
}

.u-pad-b--50 {
    padding-bottom: 3.571rem !important;
}

/*! ########## 3.25 Padding Left ########## */
.u-pad-l--0 {
    padding-left: 0 !important;
}

.u-pad-l--5 {
    padding-left: 0.3571rem !important;
}

.u-pad-l--10 {
    padding-left: 0.7143rem !important;
}

.u-pad-l--15 {
    padding-left: 1.071rem !important;
}

.u-pad-l--20 {
    padding-left: 1.429rem !important;
}

.u-pad-l--25 {
    padding-left: 1.786rem !important;
}

.u-pad-l--30 {
    padding-left: 2.143rem !important;
}

.u-pad-l--35 {
    padding-left: 2.5rem !important;
}

.u-pad-l--40 {
    padding-left: 2.857rem !important;
}

.u-pad-l--45 {
    padding-left: 3.214rem !important;
}

.u-pad-l--50 {
    padding-left: 3.571rem !important;
}

/*! ########## 3.26 Padding Right ########## */
.u-pad-r--0 {
    padding-right: 0 !important;
}

.u-pad-r--5 {
    padding-right: 0.3571rem !important;
}

.u-pad-r--10 {
    padding-right: 0.7143rem !important;
}

.u-pad-r--15 {
    padding-right: 1.071rem !important;
}

.u-pad-r--20 {
    padding-right: 1.429rem !important;
}

.u-pad-r--25 {
    padding-right: 1.786rem !important;
}

.u-pad-r--30 {
    padding-right: 2.143rem !important;
}

.u-pad-r--35 {
    padding-right: 2.5rem !important;
}

.u-pad-r--40 {
    padding-right: 2.857rem !important;
}

.u-pad-r--45 {
    padding-right: 3.214rem !important;
}

.u-pad-r--50 {
    padding-right: 3.571rem !important;
}

/*! ########## Padding Vertical ########## */
.u-pad-v--0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.u-pad-v--5 {
    padding-top: 0.3571rem !important;
    padding-bottom: 0.3571rem !important;
}

.u-pad-v--10 {
    padding-top: 0.7143rem !important;
    padding-bottom: 0.7143rem !important;
}

.u-pad-v--15 {
    padding-top: 1.071rem !important;
    padding-bottom: 1.071rem !important;
}

.u-pad-v--20 {
    padding-top: 1.429rem !important;
    padding-bottom: 1.429rem !important;
}

.u-pad-v--25 {
    padding-top: 1.786rem !important;
    padding-bottom: 1.786rem !important;
}

.u-pad-v--30 {
    padding-top: 2.143rem !important;
    padding-bottom: 2.143rem !important;
}

.u-pad-v--35 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.u-pad-v--40 {
    padding-top: 2.857rem !important;
    padding-bottom: 2.857rem !important;
}

.u-pad-v--45 {
    padding-top: 3.214rem !important;
    padding-bottom: 3.214rem !important;
}

.u-pad-v--50 {
    padding-top: 3.571rem !important;
    padding-bottom: 3.571rem !important;
}

/*! ########## Padding Horizontal ########## */
.u-pad-h--0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.u-pad-h--5 {
    padding-left: 0.3571rem !important;
    padding-right: 0.3571rem !important;
}

.u-pad-h--10 {
    padding-left: 0.7143rem !important;
    padding-right: 0.7143rem !important;
}

.u-pad-h--15 {
    padding-left: 1.071rem !important;
    padding-right: 1.071rem !important;
}

.u-pad-h--20 {
    padding-left: 1.429rem !important;
    padding-right: 1.429rem !important;
}

.u-pad-h--25 {
    padding-left: 1.786rem !important;
    padding-right: 1.786rem !important;
}

.u-pad-h--30 {
    padding-left: 2.143rem !important;
    padding-right: 2.143rem !important;
}

.u-pad-h--35 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}

.u-pad-h--40 {
    padding-left: 2.857rem !important;
    padding-right: 2.857rem !important;
}

.u-pad-h--45 {
    padding-left: 3.214rem !important;
    padding-right: 3.214rem !important;
}

.u-pad-h--50 {
    padding-left: 3.571rem !important;
    padding-right: 3.571rem !important;
}

/*! ########## 3.27 Position ########## */
.u-pos-relative {
    position: relative !important;
}

.u-pos-absolute {
    position: absolute !important;
}

.u-pos-absolute--bottom {
    position: absolute;
    bottom: 0
}

.u-pos-absolute--center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.u-pos-fixed {
    position: fixed !important;
}

.u-pos-fixed--top,
.u-pos-fixed--right,
.u-pos-fixed--bottom,
.u-pos-fixed--left {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.u-pos-fixed--top {
    bottom: auto;
}

.u-pos-btm {
    bottom: 0;
}

.u-pos-top {
    top: 0;
}

.u-pos-left {
    left: 0;
}

.u-pos-right {
    right: 0;
}

.u-pos-center--h {
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

.u-pos-center--v {
    top: 50%;
    -webkit-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
}

.u-pos-center {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.u-overlay--block {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
}

/*! ########## 3.28 List Style ########## */
.u-list--unstyled {
	padding-left: 0;
	list-style: none;
}

.u-list--inline {
	padding-left: 0;
	list-style: none;
}

.u-list--inline__item {
	display: inline-block;
}
.u-list--inline__item:not(:last-child) {
	margin-right: 5px;
}

/*! ########## 3.29 Image Style ########## */
.u-img--fluid {
	max-width: 100%;
	height: auto;
}

.u-img--thumbnail {
	padding: 0.25rem;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
	max-width: 100%;
	height: auto;
}



/*! ########## 4. CUSTOM COMPONENTS ########## */

/*! ########## 4.1 Card ########## */
.c-card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #D8DCE3;
	border-radius: 3px;
}

.c-card--body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.c-card--title {
	margin-bottom: 0.75rem;
}

.c-card--subtitle {
	margin-top: -0.375rem;
	margin-bottom: 0;
}

.c-card--text:last-child {
	margin-bottom: 0;
}

.c-card--link:hover {
	text-decoration: none;
}
.c-card--link + .c-card--link {
	margin-left: 1.25rem;
}

.c-card > .c-list--group:first-child .c-list--group__item:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.c-card > .c-list--group:last-child .c-list--group__item:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.c-card--header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: #fff;
	border-bottom: 1px solid #D8DCE3;
}
.c-card--header:first-child {
	border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
}

.c-card--footer {
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border-top: 1px solid #D8DCE3;
}
.c-card--footer:last-child {
	border-radius: 0 0 calc(3px - 1px) calc(3px - 1px);
}

.c-card--header__tabs {
	margin-right: -0.625rem;
	margin-bottom: -0.75rem;
	margin-left: -0.625rem;
	border-bottom: 0;
}

.c-card--header__pills {
	margin-right: -0.625rem;
	margin-left: -0.625rem;
}


/*! ########## CARD IMAGE ########## */
.c-card--img__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
}

.c-card--img {
	width: 100%;
	border-radius: calc(3px - 1px);
}

.c-card--img__top {
	width: 100%;
	border-top-left-radius: calc(3px - 1px);
	border-top-right-radius: calc(3px - 1px);
}

.c-card--img__bottom {
	width: 100%;
	border-bottom-right-radius: calc(3px - 1px);
	border-bottom-left-radius: calc(3px - 1px);
}


/*! ########## CARD COLUMN ########## */
.c-card--columns .c-card {
	margin-bottom: 0.75rem;
}


/*! ########## 4.2 Button ########## */
.c-btn {
	display: inline-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.625rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: 3px;
	transition: all 0.15s ease-in-out;
}
.c-btn:focus, .c-btn:hover {
	text-decoration: none;
}
.c-btn:focus, .c-btn.focus {
	outline: 0;
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.c-btn.disabled, .c-btn:disabled {
	opacity: .65;
}
.c-btn:active, .c-btn.active {
	background-image: none;
}


/*! ########## BUTTON DISABLED ########## */
a.c-btn.disabled,
fieldset[disabled] a.c-btn {
	pointer-events: none;
}


/*! ########## BUTTON FILL ########## */
.c-btn--red {
	color: #fff;
	background-color: #CF2F2F;
	border-color: #CF2F2F;
}
.c-btn--red:hover {
	color: #fff;
	background-color: #E22020;
	border-color: #E22020;
}
.c-btn--red:focus, .c-btn--red.focus {
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.c-btn--red.disabled, .c-btn--red:disabled {
	background-color: #EB6868;
	border-color: #EB6868;
}
.c-btn--red:active, .c-btn--red.active, .show > .c-btn--red.c-dropdown--toggle {
	background-color: #B51515;
	background-image: none;
	border-color: #B51515;
}


/*! ########## BUTTON OUTLINE ########## */
.c-btn--outline__red {
	color: #CF2F2F;
	background-color: transparent;
	background-image: none;
	border-color: #CF2F2F;
}
.c-btn--outline__red:hover {
	color: #fff;
	background-color: #E22020;
	border-color: #E22020;
}
.c-btn--outline__red:focus, .c-btn--outline__red.focus {
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.c-btn--outline__red.disabled, .c-btn--outline__red:disabled {
	color: #FC7E7E;
	background-color: transparent;
}
.c-btn--outline__red:active, .c-btn--outline__red.active, .show > .c-btn--outline__red.c-dropdown--toggle {
	color: #fff;
	background-color: #B51515;
	border-color: #B51515;
}


.c-btn--outline__gray {
	color: #9E9E9E;
	background-color: transparent;
	background-image: none;
	border-color: #9E9E9E;
}
.c-btn--outline__gray:hover {
	color: #fff;
	background-color: #5D5D5D;
	border-color: #5D5D5D;
}
.c-btn--outline__gray:focus, .c-btn--outline__gray.focus {
	box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.c-btn--outline__gray.disabled, .c-btn--outline__gray:disabled {
	color: #D6D6D6;
	background-color: transparent;
}
.c-btn--outline__gray:active, .c-btn--outline__gray.active, .show > .c-btn--outline__gray.c-dropdown--toggle {
	color: #fff;
	background-color: #505050;
	border-color: #505050;
}


/*! ########## BUTTON LINK ########## */
.c-btn--link {
	font-weight: normal;
	color: #007bff;
	border-radius: 0;
}
.c-btn--link, .c-btn--link:active, .c-btn--link.active, .c-btn--link:disabled {
	background-color: transparent;
}
.c-btn--link, .c-btn--link:focus, .c-btn--link:active {
	border-color: transparent;
	box-shadow: none;
}
.c-btn--link:hover {
	border-color: transparent;
}
.c-btn--link:focus, .c-btn--link:hover {
	color: #0056b3;
	text-decoration: underline;
	background-color: transparent;
}
.c-btn--link:disabled {
	color: #868e96;
}
.c-btn--link:disabled:focus, .c-btn--link:disabled:hover {
	text-decoration: none;
}


/*! ########## BUTTON SIZE ########## */
.c-btn--lg, .c-btn--group__lg > .c-btn {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.c-btn--sm, .c-btn--group__sm > .c-btn {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.c-btn--block {
	display: block;
	width: 100%;
}

.c-btn--block + .c-btn--block {
	margin-top: 0.5rem;
}

input[type="submit"].c-btn--block,
input[type="reset"].c-btn--block,
input[type="button"].c-btn--block {
	width: 100%;
}


/*! ########## 4.3 Navigation ########## */
.c-nav {
  	display: flex;
  	flex-wrap: wrap;
  	padding-left: 0;
  	margin-bottom: 0;
  	list-style: none;
}

@media print {
	.c-navbar {
		display: none;
	}
}


/*! ########## NAVLINK ########## */
.c-nav--link {
	display: block;
	padding: 0.5rem 1rem;
}
.c-nav--link:focus, .c-nav--link:hover {
	text-decoration: none;
}
.c-nav--link.disabled {
	color: #868e96;
}


/*! ########## NAVTABS ########## */
.c-nav--tabs {
	border-bottom: 1px solid #ddd;
}
.c-nav--tabs .c-nav--item {
	margin-bottom: -1px;
}
.c-nav--tabs .c-nav--link {
	border: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.c-nav--tabs .c-nav--link:focus, .c-nav--tabs .c-nav--link:hover {
	border-color: #e9ecef #e9ecef #ddd;
}
.c-nav--tabs .c-nav--link.disabled {
	color: #868e96;
	background-color: transparent;
	border-color: transparent;
}
.c-nav--tabs .c-nav--link.active,
.c-nav--tabs .c-nav--item.show .c-nav--link {
	color: #495057;
	background-color: #fff;
	border-color: #ddd #ddd #fff;
}
.c-nav--tabs .dropdown-menu {
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}


/*! ########## NAVPILLS ########## */
.c-nav--pills .c-nav--link {
	border-radius: 3px;
}
.c-nav--pills .c-nav--link.active, .show > .c-nav--pills .c-nav--link {
	color: #fff;
	background-color: #007bff;
}

/*! ########## NAVCOLOR ########## */
.c-nav--dark .c-nav--link {
	color: #000;
	opacity: 1;
}
.c-nav--dark .c-nav--link:hover, .c-nav--dark .c-nav--link:focus {
	color: #000;
	opacity: 0.6;
}
.c-nav--dark .active, .c-nav--dark .active:hover, .c-nav--dark .active:focus {
	color: #000;
	opacity: 1;
}


/*! ########## 4.4 Table ########## */
.c-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

.c-table th,
.c-table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #707070;
}

.c-table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #707070;
}

.c-table tbody + tbody {
	border-top: 2px solid #707070;
}

.c-table .c-table {
	background-color: #fff;
}

.c-table--sm th,
.c-table--sm td {
	padding: 0.3rem;
}

@media print {
	.c-table {
		border-collapse: collapse !important;
	}
	.c-table td,
	.c-table th {
		background-color: #fff !important;
	}

	.c-table--bordered th,
	.c-table--bordered td {
		border: 1px solid #707070 !important;
	}
}

/*! ########## 4.5 Figure ########## */
.c-figure {
	display: inline-block;
}

.c-figure--img {
	margin-bottom: 0.5rem;
	line-height: 1;
}

.c-figure--caption {
	font-size: 90%;
	color: #868e96;
}

/*! ########## 4.6 Scrollable ########## */
.c-pre--scrollable {
	max-height: 340px;
	overflow-y: scroll;
}

/*! ########## 4.7 Breadcrumbs ########## */
.c-breadcrumb {
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
	list-style: none;
}
.c-breadcrumb::after {
	display: block;
	clear: both;
	content: "";
}

li.c-breadcrumb--item a {
	font-weight: 500;
	color: #FFFFFF;
}

.c-breadcrumb--item {
	float: left;
}
.c-breadcrumb--item + .c-breadcrumb--item::before {
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: #868e96;
	content: "/";
}
.c-breadcrumb--item + .c-breadcrumb--item:hover::before {
	text-decoration: underline;
}
.c-breadcrumb--item + .c-breadcrumb--item:hover::before {
	text-decoration: none;
}
.c-breadcrumb--item.active {
	color: #868e96;
}

.c-breadcrumb--item + .c-breadcrumb--item::before {
	font-family: "Montserrat", sans-serif;
}

.c-breadcrumb--white .c-breadcrumb--item {
	color: #fff;
	opacity: 1;
}
.c-breadcrumb--white .c-breadcrumb--item + .c-breadcrumb--item::before {
	color: #fff;
}
.c-breadcrumb--white .c-breadcrumb--item:hover, .c-breadcrumb--white .c-breadcrumb--item:focus {
	opacity: 1;
}
.c-breadcrumb--white .c-breadcrumb--item.active {
	color: #fff;
	opacity: 0.5;
}
.c-breadcrumb--white .c-breadcrumb--item.active::before {
	opacity: .7;
}

/*! ########## 4.8 Tablist ########## */
.c-tab {
    display: block;
    position: relative;
}
.c-tab--vertical {
    background: #fafafa;
    color: #333;
}
.c-tab--vertical__nav {
    width: 30%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}
.c-tab--vertical__item {
    padding: 12px 0px 12px 18px;
    background: #fafafa;
    border-bottom: 1px solid #eee;
}
.c-tab--vertical__item.active {
    background: #fff;
    border-right: 0;
}
.c-tab--vertical__item:hover {
    cursor: pointer;
}
.c-tab--vertical__item span {
    padding-top: 0px;
    color: #333;
}
.c-tab--vertical__item .c-inp--radio:checked+.c-inp__inner-lbl:before, .c-tab--vertical__item .c-inp--radio:not(checked)+.c-inp__inner-lbl:before {
    width: 14px;
    height: 14px;
    top: 0;
}
.c-tab--vertical__item .c-inp--radio:checked+.c-inp__inner-lbl:before {
    border-width: 4px;
}
.c-tab--vertical__item label {
    height: auto;
}
.c-tab--vertical__content {
    width: 70%;
    min-height: 146px;
    float: left;
    display: none;
    background: #fff;
    font-size: 12px;
}
.c-tab--vertical__content__body {
    padding: 18px;
}
.c-tab--vertical__content__body ul li {
    padding-left: 0;
}
.c-tab--vertical__content.is-active {
    display: block;
}
.c-tab__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.c-tab__nav:before, .c-tab__nav:after {
    content: " ";
    display: table;
}
.c-tab__nav:after {
    clear: both;
}
.c-tab__action {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
}
.c-tab__list {
    display: block;
    padding: 0;
    margin: 0;
    float: left;
}
.c-tab__link {
    font-size: 14px;
    line-height: 1.4;
    display: block;
    padding: 18px 24px;
    margin-left: -1px;
    margin-bottom: -1px;
    background: #fafafa;
    color: rgba(51, 51, 51, 0.32);
    cursor: pointer;
    font-weight: 700;
    border: 1px solid #eee;
    -webkit-transition: color .3s ease-out, background .3s ease-out;
    -o-transition: color .3s ease-out, background .3s ease-out;
    transition: color .3s ease-out, background .3s ease-out;
}
@media only screen and (min-width: 71.313em) {
    .c-tab__link {
    font-size: 16px;
}
}
@media only screen and (min-width: 82.563em) {
    .c-tab__link {
    font-size: 16px;
}
}
.c-tab--inside .c-tab__link {
    border: 0;
    background: 0;
    padding: 18px 24px;
}
.c-tab--inside .c-tab__link:focus, .c-tab--inside .c-tab__link:hover {
    color: #CF2F2F;
    border-bottom: 0;
    text-decoration: none;
    background: 0;
}
.c-tab--selection .c-tab__link {
    font-weight: inherit;
}
.c-tab--scale-hover .c-tab__link:hover {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
}
.c-tab--medium .c-tab__link {
    font-size: 14px;
    line-height: 1.4;
    padding: 12px !important;
}
.c-tab--left .c-tab__link {
    padding-left: 0;
    padding-right: 0;
    margin-right: 36px;
}
.c-tab__link:focus, .c-tab__link:hover {
    color: #CF2F2F;
    text-decoration: none;
    background: #f5f5f5;
}
.c-tab__list:first-child>.c-tab__link {
    margin-left: 0;
    border-top-left-radius: 2px;
}
.c-tab__list:last-child>.c-tab__link {
    border-top-right-radius: 2px;
}
.c-tab__list.is-active>.c-tab__link {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #CF2F2F;
    text-decoration: none;
}
.c-tab--inside .c-tab__list.is-active>.c-tab__link {
    border-bottom: 2px solid #CF2F2F;
    background: 0;
}
.c-tab--inside .c-tab__list.is-active>.c-tab__link .c-icon-duotone {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}
.c-tab--selection .c-tab__list.is-active>.c-tab__link {
    color: #333;
    font-weight: inherit;
}
.c-tab__link--inside {
    background: 0;
    border: 0;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
.c-tab__link--inside:focus, .c-tab__link--inside:hover {
    background: 0;
    color: #333;
}
.c-tab__list.is-active>.c-tab__link--inside {
    background: 0;
    border-bottom: 2px solid #CF2F2F;
    color: #333;
}
.c-tab__link--inside .c-icon-duotone {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .25;
}
.c-tab__link.is-disabled:focus, .c-tab__link.is-disabled:hover {
    cursor: default;
    color: rgba(51, 51, 51, 0.32);
    text-decoration: none;
    background: #fafafa;
}
.c-tab__content {
    display: none;
    border: 1px solid #eee;
    border-bottom-color: #e5e5e5;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline-color: transparent;
    outline-style: none;
}
.c-tab__content.is-active {
    display: block;
}
.c-tab__content__head {
    padding: 18px 24px;
    border-bottom: 1px solid #ddd;
}
.c-tab__content__title {
    font-size: 18px;
    line-height: 1.2;
}
.c-tab__content__body {
    padding: 24px;
}
.c-tab__content__body>:last-child {
    margin-bottom: 0;
}
.c-tab__content__body:after {
    clear: both;
    content: "";
    display: block;
}
.c-tab__content__footer {
    padding: 18px 24px;
    border-top: 1px solid #ddd;
}
.c-tab__floating-line {
    border-bottom: 2px solid #CF2F2F;
    position: relative;
    top: 25px;
    display: none;
}
.c-tab__list.is-active .c-tab__floating-line {
    display: block;
}
.c-tab--active-box-shadow .c-tab__list.is-active>.c-tab__link {
    border: 0 !important;
    -webkit-box-shadow: 0 2px 0 #CF2F2F;
    box-shadow: 0 2px 0 #CF2F2F;
}
.c-tab--inside .c-tab__nav {
    border-bottom: 1px solid transparent;
}
.c-tab--inside .c-tab__list {
    margin-right: 24px;
}
.c-tab--inside .c-tab__list:last-child {
    margin-right: 0px;
}
.c-tab--inside .c-tab__link {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 24px;
    font-size: 14px;
    line-height: 1.4;
    border: 0;
    background: 0;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
.c-tab--inside .c-tab__link:focus, .c-tab--inside .c-tab__link:hover {
    text-decoration: none;
    background: 0;
    color: #333;
}
.c-tab--inside .c-tab__link.is-disabled:focus, .c-tab--inside .c-tab__link.is-disabled:hover {
    cursor: default;
    color: rgba(51, 51, 51, 0.32);
    text-decoration: none;
}
.c-tab--inside .c-tab__content {
    border: 0;
    background: 0;
    border-top: 1px solid #eee;
}
.c-tab--inside .c-tab__content__body {
    padding: 18px 0;
}
.c-tab--inside .c-tab__list.is-active>.c-tab__link {
    background: 0;
    border-bottom: 2px solid #CF2F2F;
    color: #333;
}
.c-tab--inside.c-tab--letter .c-tab__list {
    margin-right: 12px;
}
@media only screen and (min-width: 71.313em) {
    .c-tab--inside.c-tab--letter .c-tab__list {
    margin-right: 16.5px;
}
}
@media only screen and (min-width: 82.563em) {
    .c-tab--inside.c-tab--letter .c-tab__list {
    margin-right: 21px;
}
}
.c-tab--inside.c-tab--letter .c-tab__list:last-child {
    margin-right: 0px;
}
.c-tab--inside.c-tab--letter .c-tab__link {
    width: 14px;
    text-align: center;
}
.c-tab--inside.c-tab--scale-hover .c-tab__link {
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.c-tab--inside.c-tab--scale-hover .c-tab__list.is-active>.c-tab__link {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
.c-tab--micro .c-tab__link {
    padding: 9px;
    font-size: 12px;
    line-height: 1.4;
    border: 0;
    background: 0;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}
.c-tab--micro .c-tab__link:focus, .c-tab--micro .c-tab__link:hover {
    text-decoration: none;
    background: 0;
    color: #333;
}
.c-tab--micro .c-tab__link.is-disabled:focus, .c-tab--micro .c-tab__link.is-disabled:hover {
    cursor: default;
    color: rgba(51, 51, 51, 0.32);
    text-decoration: none;
}
.c-tab--micro .c-tab__list {
    margin-right: 6px;
}
.c-tab--narrowside .c-tab__content__body {
    padding: 18px 0;
}


/*! ########## 5. CUSTOM OBJECT ########## */

/*! ########## 5.1 Display ########## */
.o-block {
    display: block !important;
}

.o-flex {
    display: flex !important;
}

.o-none {
	display: none !important;
}

/*! ########## 5.2 Flex Content ########## */
.o-justify-content--center {
    justify-content: center !important;
}

.o-justify-content--start {
    justify-content: flex-start !important;
}

.o-justify-content--end {
    justify-content: flex-end !important;
}

.o-justify-content--between {
    justify-content: space-between !important;
}

/*! ########## 5.3 Flex Align ########## */
.o-align-items--center {
    align-items: center !important;
}

.o-align-items--start {
    align-items: flex-start !important;
}

.o-align-items--end {
    align-items: flex-end !important;
}

/*! ########## 5.4 Container ########## */
.o-container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-left: 10px;
	width: 100%;
}

.o-container--fluid {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
}

.o-container-wrapper {
    position: relative;
    overflow-y: hidden;
    padding: 30px 0;
}