/*!
 * Blockbox Responsive Multi-Purpose Template
 * Version: 1.1.0
 * Author: ThemePixels (@themepixels)
 * URL: http://themepixels.me/blockbox/templates
 *
 * TABLE OF CONTENTS
 *
 * 1. GOOGLE FONTS IMPORT
 * 2. BOOSTRAP CSS
 * 3. BOOTSTRAP OVERRIDES
 *      3.1   Alerts
 *      3.2   Breadcrumbs
 *      3.3   Buttons
 *      3.4   Card
 *      3.5   Carousel
 *      3.6   Container
 *      3.7   Dropdown
 *      3.8   Forms
 *      3.9   Grid
 *      3.10  Icons
 *      3.11  Image
 *      3.12  Input Group
 *      3.13  Jumbotron
 *      3.14  List Group
 *      3.15  Modal
 *      3.16  Nav
 *      3.17  Navbar
 *      3.18  Pagination
 *      3.19  Popover
 *      3.20  Progress
 *      3.21  Reboot
 *      3.22  Tables
 *
 * 4. CUSTOM UTILITIES
 *      4.1   Background
 *      4.2   Blend
 *      4.3   Borders
 *      4.4   Height
 *      4.5   Margins
 *      4.6   Opacity
 *      4.7   Overflow
 *      4.8   Padding
 *      4.9   Position
 *      4.10  Miscellaneous
 *      4.11  Typography
 *      4.12  Width
 * 5. BLOCKBOX FOUNDATION STYLES
 *      5.1   Hover
 *      5.2   Templates
 *      5.3   Pages
 *      5.4   Demo
 * 6. 3RD PARTY PLUGIN STYLE OVERRIDES
 *      6.1   Select2
 *      6.2   Ion Rangeslider
 *      6.3   Leaflet
 *      6.4   TagsInput
 *      6.5   TouchSpin
 *      6.6   iHover
 *      6.7   Superfish
 */


/*! ########## 1. GOOGLE FONTS IMPORT  ########## */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

// Fonts for numbers
@import url('https://fonts.googleapis.com/css?family=Aldrich|Arimo:400,700');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Rubik:300,400,500,700');

// Bootstrap variable overrides
@import "bootstrap/variables";

/*! ########## 2. BOOTSTRAP CSS ########## */
@import "bootstrap/bootstrap";

// Custom mixins for bootstrap
@import "bootstrap/mixins";

/*! ########## 3. BOOTSTRAP OVERRIDES ########## */
@import "bootstrap/alerts";
@import "bootstrap/breadcrumb";
@import "bootstrap/buttons";
@import "bootstrap/card";
@import "bootstrap/carousel";
@import "bootstrap/container";
@import "bootstrap/dropdown";
@import "bootstrap/forms";
@import "bootstrap/grid";
@import "bootstrap/icons";
@import "bootstrap/image";
@import "bootstrap/input-group";
@import "bootstrap/jumbotron";
@import "bootstrap/list-group";
@import "bootstrap/modal";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/pagination";
@import "bootstrap/popover";
@import "bootstrap/progress";
@import "bootstrap/reboot";
@import "bootstrap/tables";

/*! ############ 4. CUSTOM UTILITIES ############ */
@import "utilities/background";
@import "utilities/blend";
@import "utilities/borders";
@import "utilities/height";
@import "utilities/margins";
@import "utilities/opacity";
@import "utilities/overflow";
@import "utilities/padding";
@import "utilities/position";
@import "utilities/misc";
@import "utilities/typography";
@import "utilities/width";

// Blockbox own built-in style
@import "blockbox/variables";
@import "blockbox/mixins";

/*! ############ 5. BLOCKBOX FOUNDATION STYLES ############ */
@import "blockbox/hover";
@import "blockbox/templates";
@import "blockbox/pages";
@import "blockbox/demo";
@import "blockbox/portfolio-1";

/*! ############ 6. 3RD PARTY PLUGIN STYLE OVERRIDES ############ */
@import "plugins/select2";
@import "plugins/ionrangeslider";
@import "plugins/leaflet";
@import "plugins/tagsinput";
@import "plugins/touchspin";
@import "plugins/ihover";
@import "plugins/superfish";
